@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  line-height: 1.7;
  padding: 3rem;
  color: #333; }

.heading-primary {
  text-transform: uppercase;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 4.8rem;
    letter-spacing: .2rem;
    font-weight: 700;
    animation: moveInLeft 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    letter-spacing: .2rem;
    font-weight: 400;
    animation: moveInRight 1s; }

.heading-secondary {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.8rem;
  background-image: linear-gradient(to right, #442727, #000);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  font-weight: 700;
  transition: all .5s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(5deg);
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); }
  .heading-secondary::after {
    content: "";
    margin: 1.5rem auto;
    display: block;
    height: .4rem;
    max-width: 35%;
    background-color: #553232;
    border-radius: 1rem; }

.heading-tertiary {
  text-transform: uppercase;
  color: #553232;
  font-size: 1.6rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.6rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  display: inline-block;
  padding: .9rem 2rem;
  border-radius: 3px;
  font-size: 2rem;
  margin: 2.4rem 0;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.45); }

.btn--white {
  background-color: #fff;
  color: #442727; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  margin: 2rem 0;
  color: #442727;
  padding-bottom: .8rem;
  border-bottom: 2px solid #553232;
  transition: all .3s; }

.btn-text:hover {
  background-color: #442727;
  color: #fff;
  padding: .8rem .8rem .8rem .8rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); }

.feature {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.4rem;
  transition: transform .3s;
  text-align: center;
  cursor: pointer; }
  .feature:hover {
    transform: translateY(-2rem); }
  .feature i {
    font-size: 4rem;
    background-image: linear-gradient(to right, #442727, #553232);
    color: transparent;
    -webkit-background-clip: text; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(68, 39, 39, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
    cursor: pointer; }
    .header__logo-box img {
      width: 8rem;
      height: 8rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.col-1-of-2 {
  float: left;
  width: 50%; }

.col-1-of-3 {
  float: left;
  width: 30%; }
  .col-1-of-3:not(:last-child) {
    margin-right: 5%; }

.col-1-of-4 {
  float: left;
  width: 25%; }

.about {
  padding: 25rem 0;
  background: #f7f7f7;
  margin-top: -25vh; }
  .about__content {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto; }
  .about .album {
    position: relative; }
    .about .album__pictures {
      width: 50%;
      position: absolute;
      border-radius: 5px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      z-index: 10;
      transition: all .3s; }
      .about .album__pictures:hover {
        padding: 2rem;
        transform: scale(1.04);
        outline: 0.8rem solid #442727;
        z-index: 20; }
      .about .album__pictures:not(:hover) {
        transform: scale(0.8); }
    .about .album .p1 {
      top: 0;
      left: 10%; }
    .about .album .p2 {
      top: 4rem;
      left: 70%; }
    .about .album .p3 {
      top: 10rem;
      left: 30%; }

.features {
  margin-top: -9rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(68, 39, 39, 0.8)), url("../img/coffee-and-beans.jpg");
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg); }
  .features > * {
    transform: skewY(7deg); }

.section-beans {
  padding: 25rem 0 50rem;
  background: #f7f7f7;
  margin-top: -10rem; }
