$color-primary: #442727;
$color-primary-light: #553232;

$color-black: #000;
$color-black-1: #333;
$color-black-2: #222;
$color-white: #fff;

$color-grey: #777;
$color-grey-light: #f7f7f7;

$default-font-size: 1.6rem;

$card-height: 45rem;
