.card {
    perspective: 150rem;
    height: $card-height;
    position: relative;
    
    &__detail {
        position: absolute;
        font-size: 1.6rem;
        top: 60%;
        left: 0;
        padding: 0 2rem;

        .heading-tertiary {
            font-size: 1.8rem;
        }
    }

    &__rate {
        color: $color-white;
        font-size: 4rem;
        margin-top: 8rem;
        span {
            display: block;
        }
    }

    &__side {
        height: $card-height;
        backface-visibility: hidden;
        transition: all .8s;
        box-shadow: 0 8px 12px rgba($color-black, .4);
        
        &--front {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $color-white;

        }

        &--back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-image: linear-gradient(
                to right bottom,
                rgba(#44000d, .8),
                rgba(#9c5518, .8)
            );
            transform: rotateY(180deg);
        }
    
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &:hover &__side--front, {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}