body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    line-height: 1.7;
    padding: 3rem;
    color: $color-black-1;
}

.heading-primary {
    text-transform: uppercase;
    color: $color-white;

    &--main {
        display: block;
        font-size: 4.8rem;
        letter-spacing: .2rem;
        font-weight: 700;
        animation: moveInLeft 1s;
    }

    &--sub {
        display: block;
        font-size: 2.4rem;
        letter-spacing: .2rem;
        font-weight: 400;
        animation: moveInRight 1s;
    }
}

.heading-secondary {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.8rem;
    background-image: linear-gradient(to right, $color-primary, $color-black);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .3rem;
    font-weight: 700;
    transition: all .5s;
    
    &:hover {
        transform: skewY(2deg) skewX(5deg);
        text-shadow: 0 3px 6px rgba($color-black, .15);
    }

}

.heading-tertiary {
    text-transform: uppercase;
    color: $color-primary-light;
    font-size: 1.6rem;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 1.6rem;
    }
}

