.about {
    padding: 25rem 0;
    background: $color-grey-light;
    margin-top: -25vh;

    &__content {
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
    }

    .album {
        position: relative;

        &__pictures {
            width: 50%;
            position: absolute;
            border-radius: 5px;
            box-shadow: 0 8px 16px rgba($color-black, .3);
            z-index: 10;
            transition: all .3s;

            &:hover {
                padding: 2rem;
                transform: scale(1.04);
                outline: .8rem solid $color-primary;
                z-index: 20;
            }

            &:not(:hover){
                transform: scale(.8);
            }
        }

        .p1 {
            top: 0;
            left: 10%;
        }

        .p2 {
            top: 4rem;
            left: 70%;
        }

        .p3 {
            top: 10rem;
            left: 30%;
        }
    }

}

.features {
    margin-top: -9rem;
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, .8),
        rgba($color-primary, .8)
    ), url('../img/coffee-and-beans.jpg');
    background-position: top;
    background-size: cover;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-beans {
    padding: 25rem 0;
    background: $color-grey-light;
    margin-top: -10rem;
}

.section-feedback {
    padding: 18rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, .8),
        rgba($color-primary, .8)
    ), url('../img/coffee-plant.jpg');
    background-position: top;
    background-size: cover;
}

.booking {
    padding: 10rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(#44000d, 1),
        rgba(#6f4e37, 1)
    );
    // background-image: linear-gradient(
    //     to right bottom,
    //     rgba($color-primary, 1),
    //     rgba($color-primary, 1)
    // );
}

.book {
    padding: 1rem 0;
    height: 50rem;
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 1) 0%,
        rgba($color-white, .7) 50%,
        transparent 50%
    ),url('../img/coffee-1.jpg');
    background-size: 100%;

    &__form {
        width: 50%;
        padding: 4rem;
    }
}

.form {
    &__group {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        
    & .btn--brown {
        width: 60%;
        text-align: center;
        margin-top: -1rem;
    }
    }

    &__input {
        width: 100%;
        font-size: $default-font-size;
        padding: 1.5rem 2rem;
        border-radius: 5px;
        border: none;
        background-color: #fff;
        box-shadow: 0 1rem 1.5rem rgba($color-black, .25);
    }

    &__input:focus {
        border-bottom: .5rem solid $color-primary;
    }

    &__label {
        font-size: $default-font-size;
        margin-top: .5rem;
        margin-left: 1rem;
        opacity: 0;
    }

    &__input:focus &__label{
        opacity: 1;
    }


}

.footer {
    padding: 1rem 0;

    p {
        text-align: center;
        font-size: 2rem;
        color: $color-primary;
    }
}