.about {
    padding: 25rem 0;
    background: $color-grey-light;
    margin-top: -25vh;

    &__content {
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
    }

    .album {
        position: relative;

        &__pictures {
            width: 50%;
            position: absolute;
            border-radius: 5px;
            box-shadow: 0 8px 16px rgba($color-black, .3);
            z-index: 10;
            transition: all .3s;

            &:hover {
                padding: 2rem;
                transform: scale(1.04);
                outline: .8rem solid $color-primary;
                z-index: 20;
            }

            &:not(:hover){
                transform: scale(.8);
            }
        }

        .p1 {
            top: 0;
            left: 10%;
        }

        .p2 {
            top: 4rem;
            left: 70%;
        }

        .p3 {
            top: 10rem;
            left: 30%;
        }
    }

}

.features {
    margin-top: -9rem;
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, .8),
        rgba($color-primary, .8)
    ), url('../img/coffee-and-beans.jpg');
    background-position: top;
    background-size: cover;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-beans {
    padding: 25rem 0;
    background: $color-grey-light;
    margin-top: -10rem;
}

.section-feedback {
    padding: 18rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, .8),
        rgba($color-primary, .8)
    ), url('../img/coffee-and-beans.jpg');
    background-position: top;
    background-size: cover;
}